
.order-product-section {
    display:flex;
    flex-direction:row;
    align-item:center;
    justify-content:center;
    width:100%;
    flex-wrap:wrap;
}

.img-parent {
    width:80px;
    height:50px;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(255,255,255,0.40);
    box-shadow:0px 8px 18px 0px rgba(77,77,77,0.27);
    margin:10px 0px 25px 0px;
}

.img-parent-empty {
    width:150px;
    height:120px;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
   
    margin:50px 0px 50px 0px;
}

.img{
    width:30px;
    height:30px;
}

.img-empty{
    width:150px;
    height:150px;
}

.product-card {
    width:80px;
    height:130px;
    display:flex;
    margin:2px;
    justify-content:center;
    align-items:center;
    border-radius:20px;
    background-color:rgba(255,255,255,0.40);
    box-shadow:0px 8px 18px 0px rgba(77,77,77,0.27);
}

.product-card:hover {
    width:80px;
    height:130px;
    display:flex;
    margin:2px;
    justify-content:center;
    align-items:center;
    border-radius:20px;
    background-color:rgba(255,255,255,0.40);
    box-shadow:0px 8px 18px 0px rgba(77,77,77,0.27);
    transform:scale(1.14);
}


.btn-take {
    width:50%;
    margin-top:20px;
    height:70px;
    font-size:17px;
    font-weight:500;
    padding-top:15px;
    border-radius:15px;
    display:flex;
    cursor:pointer;
    justify-content:center;
    align-items:center;
    background-color:rgba(255,255,255,0.40);
    box-shadow:0px 8px 18px 0px rgba(77,77,77,0.27);
    cursor:pointer;
}

.btn-take:active {
    transform:scale(0.94);
    color: rgba(2,2,2,0.80);
}