
.insertMoneyBtn:active {
    transform:scale(0.94);
    color: rgba(2,2,2,0.80);
    box-shadow:0px 0px 0px 0px rgba(77,77,77,0.01),
}

.processBtn:active {
    transform:scale(0.94);
    color: rgba(2,2,2,0.80);
}

.takeOutBtn:active {
    transform:scale(0.94);
    color: rgba(2,2,2,0.80);
}

.infoMoney:active {
    transform:scale(0.94);
    color: rgba(2,2,2,0.80);
}

.btn-take-all-change:active {
    transform:scale(0.94);
    color: rgba(2,2,2,0.80);
}

.money-info {
    color:white;
    background-color:#D191A4;
}